
p {
  font-family: verdana;
  margin-top: 0px;
  margin-bottom: 0px;
}
.course_topic {
  font-weight: bold;
  margin-bottom: 4px;
}

.course_for {
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
}

.course_info {
  font-size: 12px;
  width: 215px;
  margin-bottom: 15px;
}

.get_started {
  cursor: pointer;
  background-color: rgb(27, 139, 27);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
}