.cat_div {
  font-family: Arial;
  box-shadow: 0px 0px 5px rgba(81, 80, 80, 0.712);
  display: inline-block;
}

.cat_image {
  width: 130px;
  height: 140px;
  border: none;
  
}

.cat_info {
  padding: 5px;
  line-height: 5px;
}

.cat_name {
  margin-top: 3px;
  font-weight: bold;
  font-size: 13px;
}

.mutual_friends {
  font-size: 12px;
  color: gray;
}

.add_friend {
  color: white;
  background-color: rgba(0, 128, 255, 0.901);
  border: none;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 11px;
  cursor: pointer;
}
