body {
    background-color: rgb(0, 0, 0);
    font-family: Arial;
}

.container-button {
    margin-top: 0;
}
.number, .operator, .clear-button {
    width: 60px;
    height: 60px;
    border: none;
    font-size: 26px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: white !important;
    margin-right: 5px;
}



.calculation{
    margin-bottom: 0;
    color: white;
    font-size: 45px;
    margin-bottom: 5px;
    margin-top: 15px;
}


.number, .clear-button {
    background-color: rgba(55, 55, 55, 0.913);
}

.operator {
    background-color: rgb(254, 160, 10);
}

.clear-button {
    font-size: 17px;
}