p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px
}
.announcement {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 7px;
}

.sale_end {
  font-style: italic;
  color: red;
  font-size: 14px;
}